<%= javascript_pack_tag 'star_vue' %>

<h1>Posts#edit</h1>
<span>現在ログイン中のユーザー：<%= current_user.name %></span>
<%= form_for(@userBook, url: user_book_path(@userBook)) do |f| %>
    <div>
        <label>タイトル</label><br>
        <%= f.text_field :title, autofocus: true %>
    </div>
    <div>
        <label>著者</label><br>
        <%= f.text_field :author %>
    </div>
    
    <div>
        <label>カテゴリー</label><br>
        <%= f.collection_select :category_ids, Category.all, :id, :category_name, include_blank: "選択して下さい" %>
    </div>

    <div>
        <label>読後感</label><br>
        <%= f.collection_select :feeling_category_ids, FeelingCategory.all, :id, :feeling_after_reading, include_blank: "選択して下さい" %>
        <%= hidden_field :user_feeling_categories, :stars, id: "star_value", value: @userBook.user_feeling_categories.first.stars %>
        <div id="star_input"></div>
    </div>
    <div>
        <label>感想</label><br>
        <%= f.text_area :feeling %>
    </div>
    
    <div><%= f.submit "更新する" %></div>
<% end %>
