<%= javascript_pack_tag 'star_vue' %>

<h1>Posts#edit</h1>
<span>現在ログイン中のユーザー：<%= current_user.name %></span>
<%= form_for(@userBook, url: user_book_path(@userBook)) do |f| %>
    <div>
        <% if @userBook.user_book_image.present? %>
            <%= image_tag @userBook.user_book_image %>
        <% end %>
    </div>
    <div>
        <label>タイトル</label><br>
        <%= f.text_field :title, autofocus: true %>
    </div>
    <div>
        <label>著者</label><br>
        <%= f.text_field :author %>
    </div>
    
    <div>
        <label>カテゴリー</label><br>
        <%= f.collection_select :category_ids, Category.all, :id, :category_name, include_blank: "選択して下さい" %>
    </div>

    <div>
        <label>読後感</label><br>
        <div class="after-reading-container">
            <div id="star_input"></div>
            <%= f.collection_select :feeling_category_ids, FeelingCategory.where(user_id: @userBook.user_id).or(FeelingCategory.where(user_id: nil)).order(:user_id, :id), :id, :feeling_after_reading, include_blank: "選択して下さい" %>

            <% if @userBook.user_feeling_categories.empty? %>
                <%= hidden_field :user_feeling_categories, :stars, id: "star_value", value: 1 %>
            <% end %>
            <% @userBook.user_feeling_categories.each_with_index do |user_feeling_category, index| %>
                <%= hidden_field :user_feeling_categories, :stars, id: "star_value#{index}", value: user_feeling_category.stars %>
                <%= f.collection_select :feeling_category_ids, FeelingCategory.where(user_id: @userBook.user_id).or(FeelingCategory.where(user_id: nil)).order(:user_id, :id), :id, :feeling_after_reading, 
                    {include_blank: "選択して下さい",selected: user_feeling_category.feeling_category.id}, { id: "feeling_after_reading#{index}", class: "user_feeling_categories[feeling_after_readings]", style: "display:none;" } %>
            <% end %>
        </div>
    </div>
    
    <div>
        <%= text_field :user_book, :feeling_after_reading %>
    </div>
    
    <div>
        <label>感想</label><br>
        <%= f.text_area :feeling %>
    </div>
    
    <div><%= f.submit "更新する" %></div>
    
    <div>
        <%= link_to("戻る", user_books_path) %>
    </div>
<% end %>
