<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <title>Book Recipe</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag 'logo2-3.png' %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <nav>
          <ul class="global-nav">
            <li>
              <%= link_to '登録した本の一覧・検索', user_books_path %>
            </li>
            <li>
              <%= link_to '本の新規登録', new_user_book_path, data: {"turbolinks"=>false} %>
            </li>
            <li>
              <%= link_to 'カテゴリーの追加・編集', categories_index_url %>
            </li>
            <li>
              <%= link_to '読後感の追加・編集', feeling_categories_index_url %>
            </li>
            <li>
              <%= link_to 'ログアウト', destroy_user_session_url, method: :delete %>
            </li>
          </ul>
        </nav>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
